<!DOCTYPE html>
<html lang="en">
<head>Dear Friend
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMV</title>
</head>
<body bgcolor="green">
    <div>
    <h1>I love FAMILY</h1>
    <p>Familia allows me to share my thoughts with my good family and rest assured with the wellbeing.</p>
    <p>Therefore, I Kayumba Jean Marie Vianney <br> I am glad to welcome you my friend. <br>HUANYI HUANGLIN Tie XieXie Le!!</p>
</html>